* {
  margin: 0;
}

body {
  font-family:
    Raleway,
    sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  display: block;
}

.navbar {
  background-color: lightgrey;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding: 8px 14px;
  z-index: 1;
}

.navbar a {
  display: inline-block;
  color: black;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  width: 22%;
  padding: 8px;
}

.navbar a:hover {
  background-color: #b6b5b5;
}

.button:hover {
  color: white;
}

.bg-image {
  background-image: url("../images/images.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
	filter: grayscale(30%);
	width: 100%;
}

.bg-text {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  transform: translate(-50% -50%);
  font-size: 32px;
}

.header {
  font-size: 64px;
  letter-spacing: 4px;
  margin: 10px 0;
}

.container {
  background-color: #f3e3e3;
  color: #000;
  padding: 0.16px 25px;
}

.container-header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #757575;
  padding: 55px;
}

.image {
  vertical-align: middle;
  border-radius: 4px;
  border-style: none;
  width: 50%;
	height: auto;
  margin: 32px 0;
  filter: grayscale(70%);
	margin: 0 25%;
}

.container-text {
  line-height: 2;
  padding: 66px;
	width: 50%;
	margin: 0 20%;
}

.text {
  font-style: italic;
  padding-bottom: 55px;
}

.button-detail {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  white-space: nowrap;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;
  display: inline-block;
  overflow: hidden;
  border: none;
  margin: 0 40%;
  width: 15%;
  text-align: center;
}

.button-detail:hover {
  background-color: #b6b5b5;
  color: black;
}

.bg-image2 {
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  position: relative;
}

.middle-text {
  position: absolute;
  top: 255%;
  left: 35%;
  transform: translate(-50% -50%);
  color: #fff;
  line-height: 2;
  text-align: center;
  font-size: 30px;
}

.wedx-container {
  background-color: #f3e3e3;
  color: #000;
  padding: 0.16px 25px;
}

.wedx-header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #757575;
  padding-top: 65px;
}

.dinx-image {
  vertical-align: middle;
  border-radius: 4px;
  border-style: none;
  width: 50%;
	height: auto;
  margin: 5% 25%;
  filter: grayscale(70%);
}

.row {
  line-height: 2;
  padding-bottom: 55px;
  font-size: 18px;
	width: 50%;
	margin: 0 25%;
}

.child {
  display: inline-block;
  text-align: center;
	padding: 0 70px;
}

.request {
  background-color: #fad8d8;
  text-align: center;
  letter-spacing: 4px;
  padding: 64px 5px;
  line-height: 3;
  font-size: 17px;
}

.button-rsvp {
  padding: 15px 60px;
  font-size: 25px;
  border-radius: 4px;
  background-color: #f44336;
  color: #fff;
  border: none;
  cursor: pointer;
  opacity: 0.6;
}

.button-rsvp:hover {
  background-color: #b6b5b5;
  color: #000;
}

.footer-text {
  color: #fff;
  background-color: #000;
  text-align: center;
  width: 100%;
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.link-text {
  color: white;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }

  .middle-text {
    text-align: center;
    position: fixed;
    flex-wrap: wrap;
  }

	.row {
		margin: 3%;
		width: 300px;
		padding: 0;
	}

	.container-text {
		margin: 0 10%;
		width: 200px;
		padding: 0;
	}
}
